[submodule "fylo-landing-page-with-two-column-layout-master"]
	path = fylo-landing-page-with-two-column-layout-master
	url = https://github.com/fatimahayuni/fylo-landing-page-with-two-column-layout-master/
