html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.background-color-white {
    background-color: white;
}

/* .first-image, .second-image, .curved-mobile-background {
    max-width: 100%;
    height: auto;
} */

.second-image {
  background-color: hsl(240, 75%, 98%) ;
}

.first-header {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.0rem;
    text-align: center;
    padding: 10px 10px;
  }

.phone-icon {
  max-width: 100%;
  height: auto;
}

.email-icon {
  max-width: 100%;
  height: auto;
}

.how-fylo-works {
  background-color: hsl(240, 75%, 98%);
}

.testimonial {
  background-color: hsl(240, 75%, 98%);
}

/* .card-border {
  border: 0;
} */

.main-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.1rem;
  padding: 40px;
}

.main-text-background-color-purple {
  background-color: hsl(238, 22%, 44%);
}

.background-color-whitepurple {
  background-color: hsl(240, 75%, 98%);
}

.second-header {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px 10px;
}
.background-color-whitepurple {
  background-color: hsl(240, 75%, 98%);
}

.background-color-purple {
  background-color: hsl(238, 22%, 44%);
}

.background-color-dark-blue {
  background-color: hsl(243, 87%, 12%);
}

.font-color-white {
  color: white;
}

.font-size-small {
  font-size:0.7rem;
}

.form-border{
  border: 1px solid black;
}



